@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Montserrat;
  font-weight: 600;
}

/* styling main */

/* styling footer */
.footer {
  margin-top: 100px;
  margin-bottom: 10px;
  padding: 5px 0;
  width: 100%;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #a9a9a9;
}
#creator {
  text-decoration: none;
  font-weight: 700;
  color: #a9a9a9;
}
#devIo {
  text-decoration: none;
  font-weight: 600;
  color: #a9a9a9;
}
#creator:hover,
#devIo:hover {
  cursor: pointer;
}
