@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Montserrat;
  font-weight: 600;
}

/* applying font-sizes */
header > h1 {
  font-size: 24px;
}
.item-name,
.price,
.net-amount,
.info-parts > h2 {
  font-size: 14px;
}
.original-price,
input {
  font-size: 12px;
}
label {
  font-size: 10px;
  color: #4f4f4f;
}

/* styling main */
header {
  margin: 30px 0 0 18px;
  display: inline-block;
  color: #4e5150;
}

/* styling content */
.content {
  margin: 20px 12px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* styling cart and its items */
.cart {
  max-width: 385px;
  background-color: #f2f2f2;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.products img {
  width: 122px;
  height: 122px;
  border-radius: 12px;
}
.products {
  margin: 36px 30px;
  display: flex;
  column-gap: 18px;
}

/* stylings item details */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #4e5150;
}
.prices {
  margin-top: 8px;
}
.price {
  color: orange;
  margin-right: 20px;
}
.original-price {
  text-decoration: line-through;
}

/* styling quantity picker */
.quantity > input {
  width: 122px;
  height: 50px;
  border: 1px solid #828282;
  border-radius: 12px;
  background-color: #f2f2f2;
  text-align: center;
  font-size: 16px;
  color: #333;
}
.quantity > span {
  margin-top: 10px;
  width: 24px;
  height: 24px;
  background-color: #d1d1d1;
  border-radius: 4px;
  position: absolute;
  color: #828282;
}

/* styling billing amount */
.net-amount {
  margin: 60px 20px 16px;
}
.net-amount > div {
  height: 40px;
  border-top: 1px solid #bdbdbd;
  color: #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

/* Styling buyer's detail */
.info-parts {
  margin-top: 30px;
}
.buyer-details {
  margin-top: 40px;
  max-width: 465px;
}
.info-parts > h2 {
  color: #333;
}
.input-row {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.input-row input,
.input-row select {
  margin-top: 5px;
  height: 40px;
  padding-left: 35px;
  border-radius: 12px;
  border: 1px solid #828282;
  color: #828282;
}
.special-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}
.save-info {
  margin-top: 12px;
  color: #828282;
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  align-content: center;
}
#button {
  margin-top: 20px;
  width: 166px;
  height: 54px;
  border-radius: 12px;
  background-color: orange;
  color: white;
  border: none;
  position: relative;
  left: calc(100% - 166px);
}
.icon {
  display: inline-block;
  position: absolute;
  margin: 27px 0 0 8px;
  font-size: 20px;
  color: #828282;
}

/* styling footer */
.footer {
  margin-top: 100px;
  margin-bottom: 10px;
  padding: 5px 0;
  width: 100%;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #a9a9a9;
}
#creator {
  text-decoration: none;
  font-weight: 700;
  color: #a9a9a9;
}
#devIo {
  text-decoration: none;
  font-weight: 600;
  color: #a9a9a9;
}
#creator:hover,
#devIo:hover {
  cursor: pointer;
}
